* {
    box-sizing: border-box;
    font-family: roboto;
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1
    ;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 4px;
    outline: none;
    cursor: pointer;
}

.btn-primary {
    border-radius: 2px;
    background:#1890FF;
    border: 1px solid #1890FF;
    width: 116px;
    height: 40px;
    color: #FFF;
}

.btn-outline {
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba( 0, 0, 0, 0);
    width: 116px;
    height: 40px;
    color: #595959;
}

.logo {
    max-width: 100px;
    max-height: 36px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    min-height: 124px;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {

}

.footer {
    display: flex;
    align-items: center;
    min-height: 156px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 36px;
    flex-wrap: wrap;
}

.footer-nav {
    flex-grow: 1;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-nav ul li {
    color: #595959;
    font-size: 18px;
    font-weight: 400;
}

.footer-social{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}



.container {
    width: 100%;
    height: 100%;
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.banner {
    margin-bottom: 56px;
}

.banner-item{
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    padding: 68px;
    border-radius: 10px;
}

.banner-item--title {
    color: #302C34;
    font-size: 39px;
    font-weight: 700;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.banner-item--subtitle {
    color: #302C34;
    font-size: 24px;
    font-weight: 400;
    max-width: 50%;
    margin: 0;
}

.products {

}

.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.products-header--title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.products-header--search {
    min-width: 306px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #FFF;
    padding: 5px 12px;
}

.products-header--search:focus {
    outline: none;
    border: 1px solid #d9d9d9;
}

.products-header--search::placeholder {
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.products-wrapper {
    margin-top: 44px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 24px;
}

.products-card {
    width: calc((100% - 48px) / 3);
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba( 0, 0, 0, 0.05);
    overflow: hidden;
    text-decoration: none;
}

.products-card__image {
    width: 100%;
}

.products-card__image img {
    width: 100%;
}

.products-card__discription {
    padding: 20px 24px 34px 24px;
    text-decoration: none;
}

.products-card__discription-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-card__discription-row:not(:last-child) {
    margin-bottom: 10px;
}

.products-card__discription--title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
}

.products-card__discription--bage {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}

.products-card__discription-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 25px;
    column-gap: 25px;
}

.products-card__discription-info--raiting {
    color: #FFC107;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

.products-card__discription-info--price {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.products-card__discription-info--group {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
}

.products-card__discription-info--group::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #8c8c8c;
    position: absolute;
    left: -14px;
    top: 14px;
}

.products-card__discription--name {
    margin: 0;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.products-card__discription--text {
    margin: 0;
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.products-card__discription-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 30px;
}

.products-card__discription-controls--price {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.cart-modal__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.40);
    align-items: center;
    justify-content: center;
}

.cart-modal__overlay.open {
    display: flex;
}

.cart-modal {
    width: 100%;
    max-width: 780px;
    padding: 40px 45px;
    border-radius: 5px;
    background: #FFF;
}

.cart-modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.cart-modal_header--title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
}

.cart-modal_header--close {
    cursor: pointer;
}

.cart-modal__footer--price {
    border-radius: 5px;
    background: #262626;
    color: #fafafa;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
}

.cart-modal__footer--controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.cart-item:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.cart-item__title {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.cart-item__controls {
    display: flex;
    align-items: center;
}

.btn-outline--minus {
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba( 0, 0, 0, 0);
    width: 40px;
    height: 40px;
    color: #595959;
}

.btn-outline--plus {
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba( 0, 0, 0, 0);
    width: 40px;
    height: 40px;
    color: #595959;
}

.cart-item__controls--price {
    margin-right: 50px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.cart-item__controls button {
    border: 1px solid #40A9FF;
    color: #40A9FF;
}

.cart-item__controls--count {
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 991px) {
    .banner-item--title {
        max-width: 100%;
    }

    .banner-item--subtitle {
        max-width: 100%;
    }

    .products-card {
        width: calc((100% - 24px) / 2);
    }   
}

@media (max-width: 768px) {
    .products-card {
        width: 100%;
    }
}